In [19]:
import pandas as pd

In [20]:
##Exercise 1: Create the following DataFrame:
dict={"Apple":[30],"Bananas":[21]}
df_1=pd.DataFrame.from_dict(dict)
df_1

   Apple  Bananas
0     30       21

In [21]:
#Exercise 2: Create the following DataFrame:
dict_2={"Apple":[30,41],"Bananas":[21,34]}
df_2=pd.DataFrame.from_dict(dict_2)

In [30]:
column=pd.Series(['2017 Sales','2018 Sales'])
df_2.set_index(column)

            Apple  Bananas
2017 Sales     30       21
2018 Sales     41       34

In [33]:
#**Exercise 3**: Create a `Series` that looks like this:

# ```
# Flour     4 cups
# Milk       1 cup
# Eggs     2 large
# Spam       1 can
# Name: Dinner, dtype: object
# ```
sc_1=pd.Series(["4 cups","1 cup","2 large","1 can"],index=["Flour","Milk","Eggs","Spam"],name="Dinner")

In [34]:
sc_1

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

In [35]:
#Exercise 4 : Check the outcome of this command
#(c,0)and (a,1) not excits for there is null values 
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [37]:
#Exercise 5 : Check the outcome of this command

import pandas as pd
data = pd.Series([0.25,0.50,0.75,1],index=['a','b','c','d'])

In [38]:
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64