In [1]:
import pandas as pd

In [2]:
dict={"India":[100,200,100,200,344,568,765,568,765,456],"US":[200,400,700,400,944,508,765,968,565,457],"Australia":[800,900,180,200,344,568,765,568,765,456]}

In [18]:
df=pd.DataFrame.from_dict(dict)
df.index
column=pd.Series(['2014', '2015','2016','2017','2018','2019','2020','2021','2022','2023'])

In [19]:
df.set_index(column)

      India   US  Australia
2014    100  200        800
2015    200  400        900
2016    100  700        180
2017    200  400        200
2018    344  944        344
2019    568  508        568
2020    765  765        765
2021    568  968        568
2022    765  565        765
2023    456  457        456

In [28]:
for i in df.head():
    print('GDP of {} of last 10 years :{}'.format(i,df[i].sum()/df[i].count()) )

GDP of India of last 10 years :406.6
GDP of US of last 10 years :590.7
GDP of Australia of last 10 years :554.6