In [12]:

var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + int(var3))

6

In [2]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [3]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [4]:
var= "James Bond"
print(var[2::-1])

maJ

In [5]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [6]:
str = "pynative"
print (str[1:3])

yn

In [10]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add("Vicki")
print(sampleSet)

{'Vicki', 'Jodi', 'Garry', 'Eric'}

In [11]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append("Scott")
print(sampleList)

['Jon', 'Kelly', 'Jessa', 'Scott']

In [13]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [14]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [15]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [16]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [17]:
L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'c', 'd', 'e']